.search-container {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.search-container input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search-container select, .search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover, .search-container select:hover {
    background-color: #45a049;
}

.board {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.board th, .board td {
    padding: 12px;
    /* text-align: left; */
    border-bottom: 1px solid #ddd;
}

.board th {
    background-color: #4CAF50;
    color: white;
}

.board td {
    background-color: #f9f9f9;
}

.board td a {
    color: #4CAF50;
    text-decoration: none;
}

.board td a:hover {
    text-decoration: underline;
}

.write-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.write-btn:hover {
    background-color: #45a049;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #4CAF50;
    color: white;
}

.pagination .active {
    background-color: #4CAF50;
    color: white;
}

.board_container {
    width:100%;
    max-width: 1000px;
        border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.board_container.dark-mode table tbody tr * {
    background-color: black;
}

.board_title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.board_form-group {
    margin-bottom: 20px;
}

.board_form-label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.board_form-input, .board_form-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.board_form-textarea {
    resize: vertical;
    height: 200px;
}

.board_btn {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.board_btn:hover {
    background-color: #45a049;
}

.board_btn-cancel {
    background-color: #f44336;
    margin-top: 10px;
}

.board_btn-cancel:hover {
    background-color: #d32f2f;
}