.chat_div {
    position: absolute;
    top: calc(20% );
    left: 70%;
    z-index: 9999;
    width: 350px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    padding: 20px 22px;
    border-radius: 20px;
    box-shadow: 0 60px 100px rgba(0,0,0,0.4);
}

.chat_header {
    padding: 15px;
    background: #007BFF;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .chat_auth {
    text-align: center;
    padding: 10px;
    /* background: #ffffff; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .chat_user_info {
    margin: 10px auto;
    padding: 10px 15px;
    display: inline-block;
    background: #f8f9fa;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
  }
  .chat_container {
    flex: 1;
    overflow-y: auto;
    height: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 15px;
  }
  .chat_message {
    padding: 8px 12px;
    margin: 8px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
  }
  .chat_message.mine {
    background: #007BFF;
    color: white;
    align-self: flex-end;
    text-align: right;
  }
  .chat_message.others {
    background: #e0e0e0;
    align-self: flex-start;
    text-align: left;
  }
  .chat_message span {
    font-size: 12px;
    display: block;
    opacity: 0.7;
  }
  .chat_input_container {
    display: flex;
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
  }
  .chat_input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .chat_button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .chat_button:hover {
    background: #0056b3;
  }