.container_m {
    background: rgba(255,255,255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.container_m h2 {
    text-align: center;
    color: #333;
}
.container_m label {
    font-weight   : bold;
    margin-top    : 10px;
    margin-bottom : 15px;

}
.container_m input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container_m input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}
.mem_button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.mem_button:hover {
    background-color: #4cae4c;
}


body.mem_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

.mem_container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    width: 300px;
    /* max-width: 320px; */
}

.mem_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mem_button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.mem_google-btn, .mem_anonymous-btn, .mem_login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.mem_google-btn {
    background-color: #db4437;
    color: white;
}

.mem_anonymous-btn {
    background-color: #6b7280;
    color: white;
}

.mem_login-btn {
    background-color: #3b82f6;
    color: white;
    margin-top: 20px;
}

.mem_input-group {
    margin-bottom: 10px;
}

.mem_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 14px;
}

.mem_signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.mem_signup-link {
    color: #3b82f6;
    text-decoration: none;
}

.mem_signup-link:hover {
    text-decoration: underline;
}
