
<div id="board_app" class="board_container">

  <h1 class="board_title">{{this.title}}</h1>

  <div class="board_info">
      <span class="board_author">작성자: {{this.author}}</span>
      <span class="board_date">작성일: {{this.sysdate}}</span>
  </div>

  <div   v-html="content" div="board_main_content" class="board_content">
      
  </div>

  <div class="board_buttons">
      <a href="javascript:;" @click="fnHomeClick" class="board_btn board_btn-back">목록으로</a>
      <a href="javascript:;" @click="fnUpdateCilck" class="board_btn board_btn-edit">수정</a>
      <a href="javascript:;" @click="fnDeleteCilck" class="board_btn board_btn-delete">삭제</a>
  </div>


  <div class="board_comments">
        <!-- <h2>댓글</h2> -->
        

        <div  v-for="(item, index ) in comment_list" class="board_comment">
            <div class="board_comment_info">작성자: {{item.userid}} | {{item.sysdate}} </div>
            <template  v-if="rewrite_index != index "> 

                <div class="board_comment_text">{{item.contents}}</div>
            
                <div class="board_comment_actions">
                    <button @click="fncomEdit(index, item.contents)" class="board_comment_edit">수정</button>
                    <button @click="fncomRemove(item.id)" class="board_comment_delete">삭제</button>
                </div> 
            </template>

            <template v-else> 
                <input  v-model="re_comment" type="text" class="board_comment_edit_input" />

                <div class="board_comment_actions">
                    <button class="board_comment_confirm" >확인</button>
                    <button @click="fncomEditCancel" class="board_comment_cancel"  >취소</button>
                </div> 
            </template>
        </div>

        <!-- 댓글 입력 -->
        <div class="board_comment_input">
            <textarea v-model="commentData.contents" class="board_comment_textarea" placeholder="댓글을 입력하세요..."></textarea>
            <button @click="fncomAdd" class="board_comment_submit">댓글 등록</button>
        </div>


    </div>

</div>
 


 <script type="text/javascript">

    dark_toggle();
    dark_toggle();

    //alert(board_id);

    async function number_chk( data ) {
        if (typeof data.commentno == "undefined" || data.commentno == null || data.commentno == "") {
          data.commentno = await window.module.countdata('msgcomment','commentno');
        }
        console.log(data);

        data.commentno = Number(data.commentno) + 1;
        window.module.new_addData("msgcomment",data); 
        
    }   

    async function useModule() {
        // let count = await window.module.countdata();

        let data = await window.module.getdata_p(board_id);
        return data;
    }

    async function commentModule(boardno) {
        // let count = await window.module.countdata();

        let data = await window.module.getcomment(boardno);
        //console.log (boardno);

        return data;
    }

    async function useDelModule() {
        await window.module.deldata('apptest',board_id);
    }

    async function useDelModule2(comment_id) {
        await window.module.deldata('msgcomment',comment_id);
    }  

    board_app = Vue.createApp({
        data() {
            return {
              author : '', // 로그인에 사용할 username
              title: '',  // 로그인에 사용할 password
              content : '',
              num     : '',
              sysdate : '',
              re_comment : '',
              viewFlg : true ,
              comment_list : [],
              rewrite_index : -1,

              commentData : {
                boardno: "",
                commentno: "",
                contents: "",
                sysdate: "",
                like: 0,
                userid: "익명",
              },
            };
        },
        methods: {
            // 함수(메소드)
            fnHomeClick : function (id) {
                pagemove("1;");
            },
            fnSample : async function () {
                try {
                var self =  this;
                var data = await useModule();
                  
                //console.log(data);

                self.author  = data.writer ;
                self.title   = data.title ;
                self.content = data.content;
                self.num     = data.num;
                self.sysdate = data.sysdate ;
                self.viewFlg = false;
                
                self.commentData.boardno = self.num;

                self.fncomment();
                } catch (err) {
                    swal_msg("에러","게시판 불러오기 실패","error");
                    peagmove(";");
                }
            },
            fncomment : async function (){
                var self =  this;

                var data = await commentModule(self.num ); 
                console.log(data);

                self.comment_list = data;
                
            },
            fnUpdateCilck : function () {

                    Swal.fire({
                        title: '관리자 암호를 입력하세요..',
                        input: 'password',
                        inputPlaceholder: '암호 입력..'
                    }).then((data) => {

                        //console.log(data.value);
                        if ((data.value).indexOf("test1234") > -1 ){
                            pagemove("e;"+ board_id); 
                        } else {
                            swal_msg('암호 에러','관리자 암호를 다시 확인해주세요','error');
                        }
                    });
                
            },
            fnDeleteCilck : async function () {
                if(!(confirm("정말 삭제하시겠습니까?"))){
                    return;
                }

                Swal.fire({
                        title: '관리자 암호를 입력하세요..',
                        input: 'password',
                        inputPlaceholder: '암호 입력..'
                    }).then((data) => {

                        //console.log(data.value);
                        if ((data.value).indexOf("test1234") > -1 ){
                            useDelModule();
                        } else {
                            swal_msg('암호 에러','관리자 암호를 다시 확인해주세요','error');
                        }
                    });
                    


            },
            fncomAdd : async function(){
                let self = this;

                self.commentData.sysdate = getDate();
                await number_chk(self.commentData);
                self.fncomment();
            },
            fncomEdit : function ( indexnum  , text ) {
                let self = this;
                //console.log(commenttext);

                self.rewrite_index = indexnum ;
                self.re_comment = text;
                // console.log(self.re_comment );

            },
            fncomEditCommit : function (commentnum){
                let self = this;
                let nparmap = {CONTENTS : self.re_comment , COMMENTNO : commentnum  } 

            },
            fncomEditCancel : function ( ) {
                let self = this;
                self.rewrite_index = -1 ;
                self.re_comment = '';

            },
            fncomRemove : async function(comnum){
                var self = this;

                if(!confirm("정말 삭제하시겠습니까?")){
                    return;
                }
                await useDelModule2(comnum);
                self.fncomment();

            },
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnSample();
        }
    });

    board_app.mount("#board_app");
    
</script>
