<div id="board_edit_app" class="board_container">
  <!-- <h1 class="board_title">게시글 작성</h1> -->

  <!-- 게시글 작성 폼 -->
  <form action="javascript:;" method="post" id="board_edit_form" >
      <div class="board_form-group">
          <label for="title" class="board_form-label">제목</label>
          
          <input v-if="viewFlg" type="text" v-model="title" id="title" name="title" class="board_form-input" placeholder="제목을 입력하세요" required>
          <input v-else type="text" v-model="title" id="title" name="title" class="board_form-input" placeholder="제목을 입력하세요"  disabled required>

      </div>

      <div class="board_form-group">
          <label for="author" class="board_form-label">작성자</label>
          <input v-if="viewFlg" type="text" v-model="author"  id="author" name="author" class="board_form-input" placeholder="작성자를 입력하세요" required>
          <input v-else type="text" v-model="author"  id="author" name="author" class="board_form-input" placeholder="작성자를 입력하세요" disabled required>

      </div>

      <div class="board_form-group">
          <label for="content" class="board_form-label">내용</label>
          <textarea id="content"  v-model="content"   name="content" class="board_form-textarea" placeholder="게시글 내용을 입력하세요" required></textarea>
      </div>
      
      <button class="board_btn" @click="fnSample" >게시글 작성</button>

  </form>

  <button @click="fnHomeClick" class="board_btn board_btn-cancel">목록으로 돌아가기</button>

</div>

  <script>
    dark_toggle();
    dark_toggle();

    

    async function number_chk(num , title,writer,content) {
        if (typeof num == "undefined" || num == null || num == "") {
          num = await window.module.countdata();
        }
         
        var sysdate = getDate();
        // console.log(num);
        // console.log(title);
        // console.log(writer);
        // console.log(sysdate);
        // console.log(content);
        if (!(typeof board_id == "undefined" || board_id == null || board_id == "")) {
          window.module.setdata(parseInt(num),title,writer,sysdate,0,content,board_id); 
        } else {
          window.module.adddata(parseInt(num+1),title,writer,sysdate,0,content); 
        }
    }   

    async function domModule() {
        // let count = await window.module.countdata();

        let data = await window.module.getdata_p(board_id);
        return data;
    }

    board_edit_app = Vue.createApp({
        data() {
            return {
              author : '', // 로그인에 사용할 username
              title: '',  // 로그인에 사용할 password
              content : '',
              num     : '',
              viewFlg : true ,
            };
        },
        methods: {
            // 함수(메소드)
             fnSample : function () {
              var self = this;
              self.content = $('#content').summernote('code');

              if(self.title == ""){
                  swal_msg("입력오류","제목을 입력하세요","error");
                  return;
              } else if (self.author == "") {
                swal_msg("입력오류","작성자를 입력하세요","error");
                return;
              } else if (self.content == "") {
                swal_msg("입력오류","내용을 입력하세요","error");
                return;
              }  
              
              if(!(ban_chk(self.content))){
                return;
              }

              number_chk(self.num, self.title,self.author,self.content);

            }, 
            fnHomeClick : function (id) {
                pagemove("1;");
            },
            fnUpdate : async function () {
                try {
                var self =  this;
                var data = await domModule();
                  
                //console.log(data);

                self.author  = data.writer ;
                self.title   = data.title ;
                self.content = data.content;
                self.num     = data.num;
                self.viewFlg = false;

                $('#content').summernote('pasteHTML', self.content);

                } catch (err) {
                    swal_msg("에러","게시판 불러오기 실패","error");
                    peagmove(";");
                }
            },
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
            //let self = this;
            //self.fnSample();
        }
    });

    $(document).ready(function() {
      appInstance = board_edit_app.mount("#board_edit_app");
      $('#content').summernote({
        height: 300, // set editor height
        minHeight: 300, // set minimum height of editor
        maxHeight: 300, // set maximum height of editor
      });



      if (!(typeof board_id == "undefined" || board_id == null || board_id == "")) {
        appInstance.fnUpdate();//
      }
      
    })


function ban_chk ( val ){
  chk = true;
  //console.log(val);
  //console.log(banList);
  
  for (i=0;i<banList.length-1;i++){
    if ( val.indexOf(banList[i]) >-1 ) {
      swal_msg("에러","사용 금지 단어가 포함되어있습니다.","error");
      chk = false;
    }
    
  }

  return chk;
}

var banList = []; 
var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;



function loadCSV(targetFile) {
    

    var request = new XMLHttpRequest();
    request.open("get", targetFile, false);
    request.send(null);

    var csvData = request.responseText;

    var lines = csvData.split("\n");

 for (var i = 0; i < lines.length - 1; i++) {

        var wordSet = lines[i].split(",");

        var wordData = wordSet[0].replace(regExp, "");
        

        banList.push(wordData);
    }
   //console.log(banList);
}


loadCSV("common/bantext.csv");

    
  </script>


<style>

</style>