

<div id="board_list_app" class="board_container" @change="fnSample()">
    <div class="board">
        <select class="board_pagenum" v-model="postsPerPage" >
            <option value="4">4개씩</option>
            <option value="5">5개씩</option>
            <option value="6">6개씩</option>
            <option value="7">7개씩</option>
            <option value="8">8개씩</option>
            <option value="9">9개씩</option>
            <option value="10">10개씩</option>
        </select>
    </div>
    <table class="board">
        <colgroup>
            <col style="width:7%; text-align: center;">
            <col >
            <col style="width:10%">
            <col style="width:15%">
            <col style="width:10%">
        </colgroup>

        <thead>
            <tr>
                <th @click="fnOrder('num')">번호</th>
                <th @click="fnOrder('title')" >제목</th>
                <th @click="fnOrder('writer')">작성자</th>
                <th @click="fnOrder('sysdate')">작성일</th>
                <th @click="fnOrder('view')">조회수</th>
            </tr>
        </thead>
        <tbody id="boardTable">
            <tr  v-for="(item, index) in displayedPosts"  @Click="fnClick(item.id)" >
                <td>{{item.num}} </td>
                <td>{{item.title}} </td>
                <td>{{item.writer}} </td>
                <td>{{item.sysdate}} </td>
                <td>{{item.view}} </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination listpaging">
        <a v-if="currentPage > 1" @click="currentPage--">«</a>
        <Template  v-for="pagenum in totalPages ">
            <a v-if="pagenum == currentPage " @click="currentPage = pagenum" class="active">{{pagenum}}</a>
            <a v-else="pagenum == currentPage " @click="currentPage = pagenum">{{pagenum}}</a>
        </Template>
        <a v-if="currentPage < totalPages" @click="currentPage++">»</a>
    </div>

    <div class="search-container">
        <select id="searchField" v-model="search_key">
            <option value="number">번호</option>
            <option value="title">제목</option>
            <option value="author">작성자</option>
        </select>
        <input v-model="searchText" type="text"  @input="filterList" @blur="hideDropdown" @keyup.enter="searchBoard" id="searchInput" placeholder="검색어를 입력하세요..."  />
        <div v-if="showDropdown && filteredList.length" class="autocomplete-list">
            <div 
                v-for="(item, index) in filteredList" 
                :key="index" 
                class="autocomplete-item"
                @mousedown="selectItem(item)"
            >
                {{ item }}
            </div>
        </div>
        <button @click="searchBoard" >검색</button>
        <a href="javascript:pagemove('e;');" id="write_doc" class="write-btn" style="float: right;" >글쓰기</a>
    </div>

    
</div>



<script type="text/javascript">
        dark_toggle();
        dark_toggle();



    async function useModule() {
        // let count = await window.module.countdata();
        let data = await window.module.getdata();
        return data;
    }


    board_list_app = Vue.createApp({
        data() {
            return {
                // 변수
                list : [] ,
                current_list : [],
                currentPage: 1,
                postsPerPage: 8, 
                search_key : "title",
                searchText : "",
                filteredList: [],
                showDropdown : false,
                ordertype : "asc" ,
            };
        },
        methods: {
            // 함수(메소드)
             fnSample : async function () {
                try {
                var self =  this;
                self.list = await useModule();
                self.current_list = self.list;

                } catch (err) {
                    swal_msg("에러","게시판 불러오기 실패","error");
                    peagmove(";");
                }
            } , 
            fnClick : function (id) {
                pagemove("b;"+ id);
            } ,
            searchBoard : function () {
                var self =  this;


                if (self.searchText == '' ){
                    self.current_list = self.list;
                    return;
                } else {
                    self.current_list = [];
                }          

                for (i=0;i<self.list.length-1;i++) {
                    if ( self.search_key == "number") {
                        if (self.list[i].num == self.searchText) {
                            self.current_list.push(self.list[i]);
                        }
                    } else if ( self.search_key == "title") {
                        if (self.list[i].title.indexOf(self.searchText.trim()) > -1) {
                            self.current_list.push(self.list[i]);
                        }
                    } else if ( self.search_key == "author") {
                        if (self.list[i].writer == self.searchText) {
                            self.current_list.push(self.list[i]);
                        }                    
                    }
                    
                }
            },   
            filterList  : function() {
                    var self =  this;
                    self.filteredList = [];

                    if (this.searchText) {
                        //console.log(self.current_list);
                        for (i=0;i<self.list.length-1;i++) {
                            if ( self.search_key == "title") {
                                if (self.list[i].title.indexOf(self.searchText.trim()) > -1) {
                                    self.filteredList.push(self.list[i].title);
                                }
                            } else if ( self.search_key == "author") {
                                if (self.list[i].writer.indexOf(self.searchText.trim())> -1 ) {
                                    self.filteredList.push(self.list[i].writer);
                                }                    
                            }
                        }
                        this.showDropdown = true;
                        //console.log(self.filteredList);

                    } else {
                        this.filteredList = [];
                        this.showDropdown = false;
                    }
            },
            selectItem(item) {
                this.searchText = item;
                this.showDropdown = false;
                this.searchBoard();
            },
            hideDropdown() {
                setTimeout(() => {
                    this.showDropdown = false;
                }, 200); // 클릭 이벤트 처리 시간 고려
            },    
            fnOrder : function ( keyword ) {
                var self =  this;
                if (self.ordertype == 'asc') {
                    self.current_list.sort(function(a, b) { // 오름차순
                        return a[keyword] < b[keyword] ? -1 : a[keyword] > b[keyword] ? 1 : 0;
                    });
                    self.ordertype = 'desc';
                }  else {
                    self.current_list.sort(function(a, b) { // 내림차순
                        return a[keyword]   > b[keyword] ? -1 : a[keyword] < b[keyword] ? 1 : 0;
                    });
                    self.ordertype = 'asc';
                } 
            }
        },
        computed: {
            displayedPosts() {
            // 현재 페이지에 해당하는 게시글 목록을 반환하는 computed 속성
                const startIndex = (this.currentPage - 1) * this.postsPerPage;
                const endIndex = startIndex + this.postsPerPage;
                return this.current_list.slice(startIndex, endIndex);
            },
            totalPages() {
            // 총 페이지 수를 계산하는 computed 속성
                return Math.ceil(this.current_list.length / this.postsPerPage);
            },
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnSample();
        }
    });

    board_list_app.mount('#board_list_app');
</script>

<style>
    .float-r {
        float : right;
    }
</style>