
<div id="git_app" class="git_container">
    <div class="git_row" id="card-container">
        <template v-if="viewFlg">
            <div v-for="git_list in git_main_list" class="git_card-col">
                <div class="git_card">
                    <img :src="`${git_list.owner.avatar_url}`" class="git_card-img-top" alt="이미지">
                    <div class="git_card-body">
                        <h5 class="git_card-title">{{git_list.name}}</h5>
                        <p class="git_card-text"><a :href="git_list.html_url" target='_blank'>{{git_list.html_url}}</a></p>
                        <a class="btn btn-primary" href="#" @click="git_detail(git_list.owner.login,git_list.name,'')" >자세히</a>
                    </div>
                </div>
            </div>
        </template>

        <template v-if="view_detail">
            <div v-for="git_list in git_main_detail_list" class="git_card-col">
                <div class="git_card">
                    <div class="git_card-body">
                        <h5 class="git_card-title">{{git_list.name}}</h5>
                        <p class="git_card-text"><a :href="git_list.html_url" target='_blank'>{{git_list.html_url}}</a></p>
                        <a class="btn btn-primary" href="#" @click="git_detail(username,'',git_list.path)" >자세히</a>
                    </div>
                </div>
            </div>
            <div><a class="btn btn-primary" href="javascript:;" @click="getGit('suikari')"> 처음으로 돌아가기 </a></div>
        </template>

        <template v-if="view_content" >
            <div><a class="btn btn-primary" href="javascript:;" @click="getGit('suikari')"> 처음으로 돌아가기 </a></div>
            <div id="ifm_div" class="giv_ifm" >
                <iframe  width="100%" height="100%" :srcdoc="content" name="Ifrm" id="Ifrm" class="gif_ifm" frameborder="1" scrolling="yes" align="left" >
                </iframe>
            </div>
        </template>

        <template v-if="view_etc_content" >
            <div><a class="btn btn-primary" href="javascript:;" @click="getGit('suikari')"> 처음으로 돌아가기 </a></div>
            <div class="giv_ifm" :data-pym-src="jdoodleSrc" :data-language="jdoodleType" :data-version-index="jdoodleVersion">
                {{content}}
            </div>
        </template>

    </div>
</div>



<script>

    function utf8_to_b64( str ) {
    return window.btoa(unescape(encodeURIComponent( str )));
    }

    function b64_to_utf8( str ) {
    return decodeURIComponent(escape(window.atob( str )));
    }

    g_token = 'gi' + 'thub_'+'pat_'+'11BOD'+'3YWY0'+'iJaHVP'+'ik0hX'+'r_pTDSD'+'ATphWLly'+'IPBPeC'+'k3MomY'+'EiLrGnBY'+'zRmjcXN'+'w2ZJCRY'+'ROTXw'+'ueK9WYI';


    function IfmChange( src ){
	    $('#Ifrm').attr('srcdoc', src);
        $('#ifm_div').attr('style', 'max-width:800px; max-height: 700px; height:100%;display:block;');
    }   

    git_app = Vue.createApp({
        data() {
            return {
              git_main_list : [],
              git_main_detail_list : [],
              viewFlg : true ,
              view_detail : false ,
              view_content : false ,
              view_etc_content : false,
              username : '',
              detail_repo : '',
              content : '',
              jdoodleSrc : 'https://www.jdoodle.com/plugin',
              jdoodleType : 'java',
              jdoodleVersion : '5',
            };
        },
        methods: {
            getGit : function (username) {
                let self = this;
                self.viewFlg = true;
                self.view_detail = false;
                self.view_content = false;
                self.view_etc_content = false;

                self.username = username;
                $.ajax({
                    url: `https://api.github.com/users/${username}/repos`,
                    type: "GET",
                    async: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', `token ${g_token}`);//header추가
                        xhr.setRequestHeader('Accept', 'application/vnd.github.v3+json');//header추가
                    },
                    success: function(data) {
                        //result = data;
                        //console.log(data);
                        self.git_main_list = data;
                    }
                });
            }, 
            git_detail : function (username, repo , content ) {
                let self = this;

                if (repo == '') {
                    repo = self.detail_repo;
                }



                $.ajax({
                    url: `https://api.github.com/repos/${username}/${repo}/contents/${content}`,
                    type: "GET",
                    async: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', `token ${g_token}`);//header추가
                        xhr.setRequestHeader('Accept', 'application/vnd.github.v3+json');//header추가
                    },
                    success: function(data) {
                        //result = data;
                        //console.log(data);

                        if (content.indexOf('.html') > -1 ){
                            self.viewFlg = false;
                            self.view_detail = false;
                            self.view_content = true;
                            self.view_etc_content = false;

                            self.content = b64_to_utf8(data.content);

                        } else if (content.indexOf('.java') > -1) {
                            self.viewFlg = false;
                            self.view_detail = false;
                            self.view_content = false;
                            self.view_etc_content = true;

                            self.content = b64_to_utf8(data.content);

                            const script = document.createElement('script');
                            script.src = "https://www.jdoodle.com/assets/jdoodle-pym.min.js";
                            script.type = "text/javascript";
                            document.body.appendChild(script);

                        } else {
                            self.viewFlg = false;
                            self.view_detail = true;
                            self.view_content = false;
                            self.view_etc_content = false;


                            self.git_main_detail_list = data;
                            self.detail_repo = repo;
                        }

                    }
                });
                


            }
        },
        mounted() {


            let self = this;
            this.getGit('suikari');
        }
    });

    git_app.mount("#git_app");


</script>